{% extends "base.html" %}

{% block stylesheet %}
    <link href="../static/css/views/homepage.css" rel='stylesheet' type='text/css'/>
{% endblock %}
{% block javascript %}
    <script src="../static/js/views/homepage.js"></script>
    <script src="../static/js/lib/jquery.easing.1.3.js"></script>
    <script src="../static/js/plugins/jquery.arbitrary-anchor.js"></script>
{% endblock %}
{% block content %}

    <!-- Following Menu -->
    <div class="ui large top fixed hidden menu">
        <div class="ui container">
            <a class="active item">首页</a>
            <a class="item">书柜</a>
            <a class="item">书城</a>
            <a class="item">上一次阅读</a>

            <div class="right menu">
                <div class="item">
                    <a class="ui button">登录</a>
                </div>
                <div class="item">
                    <a class="ui primary button">退出</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Sidebar Menu -->
    <div class="ui vertical inverted sidebar menu">
        <a class="active item">Home</a>
        <a class="item">Work</a>
        <a class="item">Company</a>
        <a class="item">Careers</a>
        <a class="item">Login</a>
        <a class="item">Signup</a>
    </div>


    <!-- Page Contents -->
    <div class="pusher">
        <div class="ui inverted vertical masthead center aligned segment header"
             style="background-image: url('../static/img/header_background.jpg')">
            <div class="ui container">
                <div class="ui large secondary inverted pointing menu">
                    <a class="toc item">
                        <i class="sidebar icon"></i>
                    </a>
                    <a class="active item">主页</a>
                    <a class="item">书柜</a>
                    <a class="item">书城</a>
                    <a class="item">上一次阅读</a>

                    <div class="right item">
                        <a class="ui inverted button">登录</a>
                        <a class="ui inverted button">退出</a>
                    </div>
                </div>
            </div>

            <div class="ui text container">
                <h1 class="ui inverted header">
                    品读经典,回味人生
                </h1>

                <h2 style="text-align: left">
                    时光匆匆，岁月如梭，当青春正以白驹过隙般的速度渐行渐远，年轻的我们，何不在品读经典的曼妙体验中，洗去一路的风尘、迎来一生的芬芳......
                </h2>

                <div>
                    <a  class="ui huge primary button"  href="#.ui.vertical.stripe.segment.description">Get Started <i class="right arrow icon"></i></a>
                </div>
            </div>

        </div>

        <div class="ui vertical stripe segment description">
            <div class="ui middle aligned stackable grid container">
                <div class="row">
                    <div class="four wide column">
                        <h3 class="ui header">We Help Companies and Companions</h3>

                        <p>We can give your company superpowers to do things that they never thought possible. Let us
                            delight your customers and empower your needs...through pure data analytics.</p>

{#                        <h3 class="ui header">We Make Bananas That Can Dance</h3>#}
{##}
{#                        <p>Yes that's right, you thought it was the stuff of dreams, but even bananas can be#}
{#                            bioengineered.</p>#}
                    </div>
                    <div class="twelve wide right floated column">
                        <div class="animate grid">
                            {#js load the book imgs#}
                        </div>
                        <div class="row">
                        <div id="rand_change" class="center aligned column">
                            <a class="ui large button">换一批书目<i class="right random icon"></i></a>
                        </div>
                            </div>
                    </div>
                </div>
                <div class="row">
                    <div class="center aligned column">
                        <a class="ui huge button" href="#.ui.vertical.stripe.quote.segment.more">更多精彩</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="ui vertical stripe quote segment more">
            <div class="ui equal width stackable internally celled grid">
                <div class="center aligned row">
                    <div class="column">
                        <h3>精彩书城</h3>

                        <p>精彩纷呈,......Instead of focusing on content creation and hard work, we have learned how to master the art of doing nothing by providing massive amounts of whitespace and generic content that can seem massive, monolithic and worth your attention
                        精彩纷呈,......Instead of focusing on content creation and hard work, we have learned how to master the art of doing nothing by providing massive amounts of whitespace and generic content that can seem massive, monolithic and worth your attention精彩纷呈,......Instead of focusing on content creation and hard work, we have learned how to master the art of doing nothing by providing massive amounts of whitespace and generic content that can seem massive, monolithic and worth your attention
                            精彩纷呈,......Instead of focusing on content creation and hard work, we have learned how to master the art of doing nothing by providing massive amounts of whitespace and generic content that can seem massive, monolithic and worth your attention
                        </p>
                    </div>
                    <div class="column">
                        <h3>我的书柜</h3>

                        <p>
                            我的珍藏精品 精彩纷呈,......Instead of focusing on content creation and hard work, we have learned how to master the art of doing nothing by providing massive amounts of whitespace and generic content that can seem massive, monolithic and worth your attention
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui vertical stripe segment my">
            <div class="ui text container">
                <h3 class="ui header">我的阅读,记录点点滴滴...</h3>

                <p>Instead of focusing on content creation and hard work, we have learned how to master the art of doing
                    nothing by providing massive amounts of whitespace and generic content that can seem massive,
                    monolithic and worth your attention.</p>
                <a class="ui large button">Read More</a>
                <h4 class="ui horizontal header divider">
                    <a href="#.segment.header">回到顶部</a>
                </h4>
            </div>
        </div>

        <div class="ui inverted vertical footer segment">
            <div class="ui container">
                <div class="ui stackable inverted divided equal height stackable grid">
                    <div class="three wide column">
                        <h4 class="ui inverted header">About</h4>

                        <div class="ui inverted link list">
                            <a href="#" class="item">Sitemap</a>
                            <a href="#" class="item">Contact Us</a>
                            <a href="#" class="item">Religious Ceremonies</a>
                            <a href="#" class="item">Gazebo Plans</a>
                        </div>
                    </div>
                    <div class="three wide column">
                        <h4 class="ui inverted header">Services</h4>

                        <div class="ui inverted link list">
                            <a href="#" class="item">Banana Pre-Order</a>
                            <a href="#" class="item">DNA FAQ</a>
                            <a href="#" class="item">How To Access</a>
                            <a href="#" class="item">Favorite X-Men</a>
                        </div>
                    </div>
                    <div class="seven wide column">
                        <h4 class="ui inverted header">Footer Header</h4>

                        <p>Extra space for a call to action inside the footer that could help re-engage users.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{#      <h2 name='wassup'>I have a class of ".wassup"</h2>#}
{% endblock %}
