{% extends "base.html" %}

{% block stylesheet %}
    <link href="../static/css/views/homepage.css" rel='stylesheet' type='text/css'/>
{% endblock %}
{% block javascript %}
    <script src="../static/js/views/homepage.js"></script>
{% endblock %}
{% block content %}
    <body id="home" style="background-color: #009189">
    <div class="full height">
        <div class="following bar light fixed">
            <div class="ui page grid">
                <div class="column">
                    <div class="ui logo shape">
                        <div class="sides">
                            <div class="active ui side">

                            </div>
                            <div class="learn side">

                            </div>
                        </div>
                    </div>
                    <div class="ui right floated secondary menu">
                        <div class="item">


                        </div>

                    </div>
                    <div class="ui large secondary network menu">
                        <a class="view-ui item">
                            <i class="sidebar icon"></i> Menu
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="masthead segment">
        <div class="ui page grid">
            <div class="column">
                <div class="introduction">
                    <h1 class="ui inverted header">
                      <span class="library transition visible" style="">
                        Semantic UI
                      </span>
                        <b data-text="User Interface">User Interface</b>
                        <span class="typed-cursor">|</span>
                        <span class="text">is the language of the web.</span>
                    </h1>

                    <div class="ui hidden divider"></div>
                    <a href="https://github.com/Semantic-Org/Semantic-UI/archive/1.12.0.zip"
                       class="ui huge basic inverted teal download button">
                        Download Now
                    </a>
                </div>
                <div class="inverted advertisement">



                </div>
            </div>
        </div>
    </div>
    <body>
{% endblock %}
