/*******************************
            Global
*******************************/

html {
    font-size: 14px;
}

body > .content {
    color: #000000;
}

/*--------------
    Masthead
---------------*/

#home.index .logo {
    float: left;
    width: 35px;
    margin-right: 1em;
    background-color: #009fda;
}

#home.index .logo .side {
    width: 35px;
}

#home.index .logo {
    float: none;
}

#home.index .following.bar {
  position: absolute;
  top: 0px;
  z-index: 900;
  left: 0%;
  padding: 2em 0em;
  width: 100%;
  box-shadow: 0px 0px 0px 0px transparent;
  border-bottom: 1px solid transparent;
  transition:
    padding 0.5s ease,
    background 0.5s ease,
    box-shadow 0.5s ease,
    border 1115s ease
  ;
}

