.masthead.segment {
    min-height: 230px;
    padding: 1em 0em;
    background-image: url('../../../img/alejandroescamilla-book.jpg') !important;
    background-repeat: no-repeat !important;
    background-size: 100% !important;
}

.top.flags {
    padding: 12px 0px;
}

.top.flags .flag {
    text-align: center !important;
    margin: 0px 4px;
}

.top.flags .flag a {
    color: #ffffff;
    font-size: 1.42857143rem;
}

.book_list {
    text-align: center;
}

.ui.sticky {
    text-align: left;
}

.ui.sticky .labels {
    /*text-align: left;*/
    margin-top: 10px;
}

.ui.sticky .ui.label {
    margin-top: 0.3em;
}



.grid.container {
    margin: 0px auto;
}

.ui.vertical.stripe {
    padding: 1em 0em 0px 0em;
}

.ui.vertical.stripe h3 {
    font-size: 2em;
}

.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
    margin-top: 3em;
}

.ui.vertical.stripe .floated.image {
    clear: both;
}

.ui.vertical.stripe p {
    font-size: 1.33em;
}

.ui.vertical.stripe .horizontal.divider {
    margin: 3em 0em;
}
