<div class="ui wide column book">
    <div class="content"><a href="#">
        <img class="ui image" style="width: 240px;height: 180px;"
                                           src="../../static/examples/assets/images/wireframe/image.png">
        <div class="item"><span>红楼梦</span></div>
    </a></div>
    <div class="ui items">
        <div class="item">
            <div class="content info">
                <div class="meta author"><span><i class="user icon"></i>曹雪芹</span></div>
                <div class="meta likes"><a class="like"><i class="like icon"></i></a> {{ item }}</div>
            </div>
        </div>
    </div>
</div>

 <div class="ui wide column book">
        <div class="content">
            <a href="#">
            <img class="ui image" style="width: 240px;height: 180px;" src="../../static/examples/assets/images/wireframe/image.png">
            <div class="item"><span>红楼梦</span></div>
            </a>
        </div>
        <div class="ui items">
            <div class="item">
                <div class="content info">
                    <div class="meta author">
                        <span><i class="user icon"></i>曹雪芹</span>
                    </div>
                    <div class="meta likes">
                        <a class="like"><i class="like icon"></i></a> 19
                    </div>
                </div>
            </div>
        </div>
    </div>